<!DOCTYPE html>
<html>

<head>
    <title>Vue 3 Basics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        zimmer
        <!-- 
            dieses div gibt für jedes buch die Tabelle aus: 
        -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="zimmer in zimmer" :key="zimmer.ID">
                        <td>{{ zimmer.ID }}</td>
                        <td>{{ zimmer.Name }}</td>
                        <td>{{ zimmer.Email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- 
        {{ greeting }}
        <input @keyup.enter="greet()" v-model="greeting">   instead of .enter also number 13, each number calls a key
        <button @click="isVisible = true">Show Box 1</button>    @ is short vor v-on: 
        <button @click="isVisible2 = true, isVisible = false">Show Box 2</button>
        
        <div class="container">
            <div class="box" v-if="isVisible"></div>
            <div class="box2" v-else-if="isVisible2"></div>
            <div class="box3" v-else></div>
        </div>
        -->
        <div class="admin-section">
            <input id="admin-email" class="form-control" type="email" placeholder="Admin E-Mail" v-model="admin_email">
            <button @click=login() type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>

        <h1>Hotelzimmer buchen</h1>

        <form class="calendar-form">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn btn-primary btn-lg" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ selected.name || 'Zimmer auswählen' }}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" v-for="room in rooms" @click="selectItem(room)" href="#">{{room.name}}</a>
                    <!-- mit v-for mehrere vond en gleichen elemnten erstellen-->
                </div>
            </div>
            <input class="form-control" type="date" v-model="Anreisedatum">
            <input class="form-control" type="date" v-model="Abreisedatum">
            <input class="form-control" type="email" placeholder="E-Mail" v-model="email">
            <button @click=getDate() type="submit" class="btn btn-primary btn-lg">Buchen</button>
        </form>
        <ul class="list-group">
            <li class="list-group-item" v-for="(buchung, index) in buchungen">
                Anreisedatum: "{{ buchung.anreisedatum }}" ,
                Abreisedatum: "{{ buchung.abreisedatum }}",
                E-Mail: "{{ buchung.email }}"
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                Aktuell ausgewählt: (
                Zimmer: "{{ selected.name }}",
                Anreisedatum: "{{ Anreisedatum }}" ,
                Abreisedatum: "{{ Abreisedatum }}",
                E-Mail: "{{ email }}" )
            </li>
        </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="main.js"></script>
</body>

</html>