<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel g08</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">

        <header>
            <h1>Buche dein Hotelzimmer</h1>
            <div class=" admin-section">
                <div class="form-container">
                    <div class="input-container">
                        <label class="aria-label" for="admin-email">Admin E-Mail</label>
                        <input id="admin-email" class="form-control" type="email" v-model="admin_email">
                    </div>
                    <button @click.prevent=login() type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
            </div>
        </header>
        <main>
            <!-- action="/ewa/g08/Beleg/Standalone_stripe_redirect.php" -->
            <form id="myForm" class="calendar-form" action="/ewa/g08/Beleg/Standalone_stripe_redirect.php">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn btn-primary btn-lg" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selected.Name || 'Zimmer auswählen' }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" v-for="room in rooms" @click.prevent="selectItem(room)" href="#">
                            {{room.Name}} ({{ room.Preis_pro_Nacht }}€ pro Nacht)
                        </a>
                    </div>
                </div>
                <div class="form-container">
                    <div class="input-container">
                        <label class="aria-label" for="anreise">Anreisedatum</label>
                        <input id="anreise" class="form-control" type="date" v-model="Anreisedatum"
                            @change="changePlaceholder" required>
                    </div>
                    <div class="input-container">
                        <label class="aria-label" for="abreise">Abreisedatum</label>
                        <input id="abreise" class="form-control" type="date" v-model="Abreisedatum"
                            @change="changePlaceholder" required>
                    </div>
                    <div class="input-container">
                        <label class="aria-label" for="email">E-Mail</label>
                        <input id="email" class="form-control" type="email" placeholder="E-Mail hier eingeben"
                            v-model="email" required>
                    </div>
                    <div class="input-container">
                        <label class="aria-label" name="gesamtpreis" for="gesamtpreis">Gesamtpreis</label>
                        <input id="gesamtpreis" class="form-control" type="text" :placeholder="emailPlaceholder"
                            readonly required>
                    </div>
                    <div class="input-container">
                        <button @click.prevent="insertData" type="submit" class="btn btn-primary btn-lg"
                            :disabled="!isValid">Buchen</button>
                    </div>
                </div>
            </form>

        </main>
        <div class="search-bar" v-if="table_visible">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" v-model="Searchemail" type="search" placeholder="Search"
                            aria-label="Search">
                        <button @click.prevent="searchEmail()" class="btn btn-outline-success"
                            type="submit">Suche</button>
                    </form>
                </div>
            </nav>
        </div>

        <div v-if="filtervisible" class="tables">
            <p v-if="searchResults.length === 0">Keine Suchergebnisse gefunden.</p>
            <table> <!--  Ausgabe Tabelle Suchfilter -->
                <thead>
                    <tr>
                        <th>Buchungsnummer</th>
                        <th>Zimmer_ID</th>
                        <th>Anreisedatum</th>
                        <th>Abreisedatum</th>
                        <th>Kundenemail</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="searchResult in searchResults" :key="searchResult.Buchungsnummer">
                        <td>{{ searchResult.Buchungsnummer }}</td>
                        <td>{{ searchResult.Zimmer_ID }}</td>
                        <td>{{ searchResult.Anreisedatum }}</td>
                        <td>{{ searchResult.Abreisedatum }}</td>
                        <td>{{ searchResult.Kundenemail }}</td>
                        <td>{{ searchResult.Preis }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="table_visible" class="tables">
            <table> <!--  Ausgabe Tabelle Zimmer -->
                <thead>
                    <tr>
                        <th>Zimmer_ID</th>
                        <th>Name</th>
                        <th>Preis_pro_Nacht</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="room in rooms" :key="room.ID">
                        <td>{{ room.Zimmer_ID }}</td>
                        <td>{{ room.Name }}</td>
                        <td>{{ room.Preis_pro_Nacht }}</td>
                    </tr>
                </tbody>
            </table>
            <table> <!--  Ausgabe Tabelle Buchungen -->
                <thead>
                    <tr>
                        <th>Buchungsnummer</th>
                        <th>Zimmer_ID</th>
                        <th>Anreisedatum</th>
                        <th>Abreisedeatum</th>
                        <th>Kundenemail</th>
                        <th>Preis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="buchungen in buchungen" :key="buchungen.ID">
                        <td>{{ buchungen.Buchungsnummer }}</td>
                        <td>{{ buchungen.Zimmer_ID }}</td>
                        <td>{{ buchungen.Anreisedatum }}</td>
                        <td>{{ buchungen.Abreisedatum }}</td>
                        <td>{{ buchungen.Kundenemail }}</td>
                        <td>{{ buchungen.Preis }}</td>
                    </tr>
                </tbody>
            </table>
            <table> <!--  Ausgabe Tabelle Admins -->
                <thead>
                    <tr>
                        <th>Admin_Adressen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="admin in admins" :key="admins.Admin_Adressen">
                        <td>{{ admin.Admin_Adressen }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="main.js"></script>
</body>

</html>